<!--<link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">-->

<!--<div class="app-pokemon" [ngClass]="{inBattle: isInBattle}">-->
<!--  &lt;!&ndash;<p>{{ 33425564.34214 | number}}</p>&ndash;&gt;-->
<!--  &lt;!&ndash;  <p>{{ 33425564.36214 | number: '1.0-1'}}</p>&ndash;&gt;-->
<!--  &lt;!&ndash;  <p>{{ 0.3367 | percent: '1.0-2'}}</p>&ndash;&gt;-->
<!--  &lt;!&ndash;  <p>{{ 342.3367 | currency: 'EUR' : 'code'}}</p>&ndash;&gt;-->
<!--  <h2>{{pokemon.name | uppercase }}</h2>-->
<!--  <a routerLink="/pokemons">Back</a>-->
<!--  <p><strong>Today date</strong> {{todayDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>-->
<!--  <img [src]="pokemon.imageUrl" [alt]="pokemon.name">-->
<!--  <p><strong>Pokemon Type:</strong> {{pokemon.type}}</p>-->
<!--  <p><strong>HP:</strong> {{pokemon.HP}}</p>-->
<!--  <p><strong>Attack:</strong> {{pokemon.attack}}</p>-->
<!--  <p><strong>Speed:</strong> {{pokemon.speed}}</p>-->
<!--  <p *ngIf="pokemon.specialPower"><strong>Special Power:</strong> {{pokemon.specialPower}}</p>-->
<!--  <p>-->
<!--    <span [ngStyle]="{color:'rgb('+pokemon.nb_damaged*50+',0,0)'}"><strong>Pokemon status:</strong> {{pokemonStatus}}</span>-->
<!--    <br>-->
<!--    <span [ngStyle]="{color:'rgb('+pokemon.nb_damaged*50+',0,0)'}"><strong>Damages:</strong> {{pokemon.nb_damaged}}</span>-->
<!--  </p>-->
<!--  <p><strong>Damage Action mode:</strong> {{damageActionButtonText}} <button (click)="onChangeDamageAction()">Change Damage Action</button></p>-->
<!--  <button (click)="onEnterBattle()">Enter in Battle</button>-->
<!--  <button (click)="onQuitBattle()">Quit a Battle</button>-->
<!--</div>-->

