<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

  <div >
    <ng-container *ngIf="pokemonIndex===1">

    <input type="radio" id="fighter_one_{{pokemon._id}}" name="fighter_one" value="{{pokemon.name}}" (click)="onSelectPokemon(pokemon)">
    <label for="fighter_one_{{pokemon._id}}">
      <img src="{{pokemon.imageUrl}}" alt="{{pokemon.name}}">
      {{pokemon.name}}
    </label>
    </ng-container>

  </div>

  <div >
    <ng-container *ngIf="pokemonIndex===2">

    <input type="radio" id="fighter_two_{{pokemon._id}}" name="fighter_two" value="{{pokemon.name}}" (click)="onSelectPokemon(pokemon)">
    <label for="fighter_two_{{pokemon._id}}">
      <img src="{{pokemon.imageUrl}}" alt="{{pokemon.name}}" >
      {{pokemon.name}}
    </label>
    </ng-container>
  </div>


