<div class="battle">
    <a style="font-size:24px" class="fa" routerLink="/menu">&#xf060;</a>

    <div class="battle-element">
        <app-pokemon-fighter [pokemonIndex]="1"></app-pokemon-fighter>
    </div>
    <div class="battle-element">
        <button (click)="playPauseBattle()">{{playPauseButtonText}}</button>

        <p *ngIf="battleStarted"><strong>Date: </strong> {{todayDate | date: 'd MMMM yyyy, HH:mm:ss' }}</p>

        <div id="log" *ngFor="let log of logs" [ngStyle]="{color: log.includes('is dead') ? 'red' : 'blue'}">{{log}}</div>
    </div>
    <div class="battle-element">
        <app-pokemon-fighter [pokemonIndex]="2"></app-pokemon-fighter>
    </div>
</div>
