.pokemon1_choose{
  float: left;
}

.pokemon2_choose{
  float: right;
}

button{
  text-align: center;
  background-color: #f6e64e;
  margin-top: 250px;
  margin-left: 480px;
}

a{
  border: 3px solid yellow;
  border-radius: 6px;
}